body {
    font-family: "Lucida Console", Monaco, monospace;
    line-height: 1.2;
	background-color: #cac7c7;
    background-size: cover;
    background-attachment: fixed;
    font-size: 100%;
    color: #000000;
    padding: 0px;
}

html, body{
    height: 100%;
    margin: 0;
}

header {
    background-color: #759AC7;
    max-width: 100%;
    padding: 15px 40px;
    border-bottom-style: solid;
    border-bottom-width: 0 0 6px 6px;
    border-bottom-color: #485F7A;
    margin: 0px;
    color: #485F7A;
    text-align: center;
    position: sticky;
    top: 0;
    font-size: 50px;
    z-index: 1;
    /* opacity: 0.8; */
    filter: alpha(opacity=80); /* For IE8 and earlier */
    display: block;
    height: 16.66%;
    line-height: auto;
}
    header:hover {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
section {
    text-align: justify;
    background-color: #ffffff;
    max-width: 70%;
    padding: 40px;
    border: 6px solid;
    border-radius: 25px 0px 25px 25px;
    border-color: #969696;
    margin: 25px 15% 25px 15%;
    color: inherit;
    position: relative center;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
    section:hover {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
section.clearfix::after {
	content: "";
	clear: both;
	display: table;
	z-index: -1;
}
h1 {
	font-size: 200%;
	color: inherit;
}
h2 {
	font-size: 150%;
	color: inherit;
}
blockquote {
	text-indent: 27px;
	font-size: 75%;
	word-spacing: 0.5px;
	letter-spacing: -1px;
}
abbr {
	text-decoration: none;
	font-style: oblique;
}
p {
	text-indent: 15px;
	font-size: 100%;
	word-spacing: 1px;
	letter-spacing: 0;
    margin-bottom: 15px;
}
img.side {
	position: relative;
	clear: left ;
	margin-left: 10px;
	float: right;
}
div {

}
div.sidetext {
	color: white;
	position: relative;
	font-size: 75%;
	clear: left ;
	margin-left: 10px;
	float: right;
	font-style: oblique;
}
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
a.new {
	text-decoration: underline;
}
a.new:link, a.new:visited {
	color: blue;
}
a.new:hover {
	color: red;
}
a.new:active {
	color: white;
}
ul {
    float: none;
    border-style: solid;
    list-style-type: none;
    padding: 0;
    border-color: #969696;
    border-width: 6px;
    background-color: #f1f1f1;
    position: fixed;
    height: auto;
    overflow: auto;
    border-radius: 25px 0px 25px 25px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
ul:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    }
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
        background-color: #969696;
        color: white;
}

li a:hover:not(.active) {
        background-color: #555;
        color: white;
}

.topmenu {
    background-color: #759AC7;
    border-style: solid;
    border-color: #396fb3;
    padding: 20px;
    height: 50px;
    margin: 0;
    text-align: center;
    color: #000;
}

.topmenu:hover {
    background-color: #618abd;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.title {
    background-color: #759AC7;
    text-align: center;
    height: 200px;
    left: 16.66%;
    margin-top: 100px;
    font-size: 50px;
    padding: 75px 0;
    line-height: 175px;
    color: #485F7A;
}

.subtitle {
    background-color: #E3F0FF;
    text-align: center;
    height: 200px;
    left: 16.66%;
    margin-top: 50px;
    font-size: 50px;
    padding: 75px 0;
    line-height: 175px;
    color: #000;
    border-style: solid;
    /*border-radius: 10px;*/
    border-width: 3px;
    border-color: #485F7A;
}

.textblock {
    border-width: 3px;
    border-color: #000;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
}

.buttonMenu {
    border-right-style: solid;
    border-right-width: 0 0 6px 6px;
    border-right-color: #485F7A;
    border-bottom-style: solid;
    border-bottom-width: 0 0 6px 6px;
    border-bottom-color: #485F7A;
    background-color: #E3F0FF;
    color: #969696;
    min-height: 100%;
    padding: 20px;
    margin: 0;
    position: sticky;
    top: 0; 
    width: 220px;
    float: left;
}

#visualise {
    margin-left: 220px;
}

.visual {
    width: auto;
    margin: 10px;
    min-height: 250px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: #485F7A;
    text-align: center;
    position: relative;
    background-color: #E3F0FF;
}

.vis2 {
    width: 50%;
    float: left;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.middle2 {
    min-height: 80px;
    padding-left: 0px;
    padding-top: 10px;
}

.addButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #53c557;
    border: none;
    /* border-radius: 15px;
    box-shadow: 0 9px #999; */
    margin: 0;
    position: absolute;
}

.addButton:hover {
    background-color: #39AD50;
}

.removeButton {
    background-color: #ff544e;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 8px;
    text-align: center;
    font-size: 16px;
    margin: 0;
    /* opacity: 0.6; */
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    float: right;
}

.removeButton:hover {
    background-color: #E33E39;
}

.container {
    margin: auto;
    width: 100%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: linear-gradient(white, lightgray);
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* MATRIX VISUALISATION*/
.grid {
    /* stroke: #9A8B7A; */
	stroke-width: 1px; fill: red; /* CELL FILL COLOUR */
} 
.arc {
    stroke: #9A8B7A;
	fill: none;
}
.node {    
	fill: #c1ebc3;
	stroke: #9A8B7A;
	stroke-width: 0.1px; 
}
circle.active {
	fill: #22fe47;
}
path.active {
	stroke: #FE9922;
}
circle.source {
	fill: #93C464;
}
circle.target {
	fill: #41A368;
}